<!-- it's a good idea to "namespace" your partials so you can target induvidual pieces in css later -->
<div class="_sample_ bootstrap">
  <div class="conatiner-fluid">
    <div class="span8">
      <div class="hero-unit">
        <h3>{{title}}</h3>
        <p>
          This view illustrates the integration with the AnimatedAngularPluginHandler.
        </p>
        <div class='btn btn-large' ng-click='goNext("/view2")' >Next</div>
      </div>

      <h5>Example</h5>
      <div>
        <p>Two-way binding while using a service</p>
        <div class="input-prepend">
          <button class="btn btn-success" ng-click="sayHello()">Say hello to:</button>
          <input type="text" ng-model="person" class="span2">
        </div>
        <div>{{greeting}}</div>
      </div>

    </div>
  </div>
</div>
