<!-- it's a good idea to "namespace" your partials so you can target induvidual pieces in css later -->
<div class="_sample_ bootstrap">
  <div class="conatiner-fluid">
    <div class="span8">
      <div class="hero-unit">
        <h3>{{title}}</h3>
        <p>
          Go back to View1, or close this entirely
        </p>
        <div class="btn btn-large" ng-click="goPrevious('/view1')">Back</div>
        <div class="btn btn-large btn-danger" ng-click="close()">Close</div>
      </div>

      <h5>Example</h5>
      <div>
        <p>Using a filter to display either a checkmark or an x based on a boolean value</p>
        <ul>
          <li><strong>TRUE =</strong> {{true | checkmark}}</li>
          <li><strong>FALSE =</strong> {{false | checkmark}}</li>
        </ul>
      </div>


    </div>
  </div>
</div>